# Logs
logs
locanpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*
*.env
!.env.template

# Mac files
.DS_Store

# Yarn
yarn-error.log

# Next
.next/
.next

# TS buildinfo
tsconfig.tsbuildinfo
