:root {
  /* BRAND COLORS */
  --brand-orange: #ff9944;
  --brand-white: #f9f4f5;
  --brand-black: #161925;
  --brand-gray-dark: #242e3c;
  --brand-gray: #2e4057;
  --brand-gray-light: #5c6b7e;
  --brand-yellow: #e9c46a;
  --brand-red: #d44d5c;
  --brand-blue: #48B4E8;
}
